@use 'src/styles/vars';

#announcesCards {
  align-content: center;
}

.cardProfiles__title{
  text-align: center;
  padding-top: vars.$paddingTopMedium;
}

.card__footer {
  font-size: large;
}

.MuiIcon-fontSizeLarge {
  font-size: larger;
}

#create_ad_btn {
  background-color: #FDA13D;
}
