@use 'src/styles/vars';

.announcesCards {
  padding: 20px 0;
  align-content: center;
}

.cardProfiles {
  &__title {
    text-align: center;
    font-size: 2em;
    padding-top: vars.$paddingTopMedium;
    padding-bottom: vars.$paddingBottomMedium;
  }
  &__button {
    margin: 40px 0;
  }
}

#create_ad_btn {
  background-color: #FDA13D;
}
