@use 'src/styles/vars';

.profilEditionContent {
    margin-top: 150px;
    margin-bottom: 30px;

    &__content {
        &__title {
            font-size: 1.5em;
            padding-bottom: vars.$paddingBottomSmall;
        }
        &__list {
            padding-left: 30px;
        }
        &__list li {
            list-style-type: disc;
        }
        &__action {
            text-align: right;
        }
        &__media {
            &__title {
                font-size: 1.3em;
                padding-bottom: vars.$paddingBottomSmall;
                text-align: center;
            }
        }
    }
    &__description {
        margin-top: vars.$paddingTopMedium;
        margin-bottom: vars.$paddingBottomMedium;
    }
}