@use 'src/styles/vars';

.profilHeader {
    position: relative;

    &__info {
        display: flex;
        justify-content: space-between;
        color: #fff;

        &__pseudo, 
        &__city {
            color: #000;
            padding: 10px;
            background: #fff;
            border-radius: 10px;
        }

        &__pseudo {
            font-size: 1.5em;
        }
    }

    &__backgroundUpload {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.profilHeaderContent {
    &__avatar {
        position: absolute;
        bottom: 30px;
        left: 10%;
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__contact {
            display: flex;
            align-items: center;

        &__sub {
            margin-right: 40px;
        }
        }
    }
}

.profilMusicianContent {
  margin-top: 60px;
  margin-bottom: 40px;

  &__description {
    &__title {
      font-size: 1.3em;
      padding-bottom: vars.$paddingBottomSmall;
    }
  }
  &__content {
    &__list {
      padding-left: 30px;
    }
    &__list li {
      list-style-type: disc;
    }
    &__action {
      text-align: right;
      padding-top: vars.$paddingBottomSmall;
    }
    &__media {
        margin: 40px 0;
      &__title {
        font-size: 1.3em;
        padding-bottom: vars.$paddingBottomSmall;
      }
    }
  }
  &__description {
    margin-top: vars.$paddingTopMedium;
    margin-bottom: vars.$paddingBottomMedium;
  }
}

