$paddingTopSmall: 20px;
$paddingTopMedium: 40px;
$paddingTopLarge: 60px;
$paddingBottomSmall: 20px;
$paddingBottomMedium: 40px;
$paddingBottomLarge: 60px;
$lineHeight: 1.5;

$primary-color:#856d60;
$secondary-color:#ceb29a;
$alternarive-color:#41b36f;

$light-color: #f1f0f0;
$dark-color:#5a524b;

$gutter: 1rem;
