.app {
  width: 100%;
  margin: 0 auto;
}

html, body, #root, .app {
  // height: 100vh;
  // width: 100vw;
}

#root {
  min-height: 100vh;
}

@media (min-width: 320px) and (max-width: 767px) {
  .MuiGrid-container {
    display: block;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    z-index: 2222;
    left: -10px;
 }
 .hideMobile {
  display: none;
}
}

@media (min-width: 992px) {
  .hideDesktop {
    display: none;
  }
}