@use 'src/styles/vars';

.cardProfiles {
    &__titleProfil {
        text-align: left;
        font-size: 1.7em;
        padding-bottom: vars.$paddingBottomSmall;
    }
}

.slick-next:before,
.slick-prev:before {
  font-size: 25px;
  color: #000;
}

#test {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
}

#card {
    max-width: 350px;
    padding-bottom: vars.$paddingBottomSmall;
    box-shadow: 10px 10px 15px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin-bottom: 30px;
  &__image {
    position: relative;
    & img {
      height: 140px;
    }
  }
  &__inside {
    height: 450px;
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
  }
  &__avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -30px;
  }
  &__favorite {
    position: absolute;
    top: 0;
    right: 0;
    color: yellow;
  }
  &__content {
      padding-top: vars.$paddingTopMedium;
      width: 100%;
      & .bandName {
        text-align: center;
        padding-bottom: 5px;
        font-size: 1.5em;
      }
      & .localization {
        text-align: center;
        font-style: italic;
      }
      & .description {
        padding: 20px 0;
        text-align: left;
      }
      & .flex {
        display: flex;
      }
      & .attributes {
        display: flex;
      }
      & .userAttributes {
        display: flex;
      }
      & .boxAttributes {
        font-size: 0.75em;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        padding: 7px;
        margin-right: 9px;
        margin-bottom: 8px;
      }
  }
  &__footer {
      justify-content: center;
  }
}
