@use 'src/styles/vars';

.profilsCards {
    &__title {
        font-size: 1.7em;
        padding-bottom: vars.$paddingBottomSmall;
    }
}

#card {
    max-width: 350px;
    padding-bottom: vars.$paddingBottomSmall;
  &__image {
    position: relative;
    & img {
      height: 140px;
    }
  }
  &__avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -30px;
  }
  &__favorite {
    position: absolute;
    top: 0;
    right: 0;
    color: yellow;
  }
  &__content {
      padding-top: vars.$paddingTopMedium;
      & .bandName {
        text-align: center;
        padding-bottom: 5px;
        font-size: 1.5em;
      }
      & .localization {
        text-align: center;
        padding-bottom: vars.$paddingBottomSmall;
        font-style: italic;
      }
      & .description {
        padding: 20px;
        text-align: left;
      }
  }
  &__footer {
      justify-content: center;
  }
}
