@use 'src/styles/vars';

.modal__content {
    width: 800px;
    background: #fff;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 0px rgb(0 0 0 / 10%);
    &__title {
        font-size: 2em;
        padding-bottom: vars.$paddingBottomMedium;
    }
}
.modal__content__choice {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .modal__content {
        width: 320px;
        &__title {
            font-size: 1.6em;
        }
    }
}