@use 'src/styles/vars';

.form {
  &__checkBoxes {
    color:vars.$light-color;
    padding-bottom:vars.$paddingBottomSmall;
  }
}

#selector-field {
  color:vars.$light-color;
  background-color:vars.$light-color;
  }
  
  #categories {
    
    color:vars.$light-color;
    font-size: 2em;
    padding-bottom: 1em;
    margin-right:1em;
  }

  #searchFields {
    display:flex;
    justify-content: center;
  }
  #field {
    padding-top: vars.$paddingTopSmall;
    padding-bottom: vars.$paddingBottomSmall;
    width: 300px;
    display:flex;
    justify-content: center;
    
  }
  #form-control {
    
    margin-right:1em;
    min-width:150px;
    max-width: 500px;
  }
  
  #search-button {
    color:vars.$light-color;
    background-color:vars.$alternarive-color ;
    padding-left: vars.$gutter * 5;
    padding-right: vars.$gutter * 5;
    margin-top: 2em;
    margin-bottom:2em;
  }
  
  #result {
    width: 100%;
    margin-top: 0;
  }
  
  #form-filter-result {
    margin-top: vars.$gutter/2;
    margin-bottom:vars.$gutter;
    min-width:300px;
    max-width: 400px;
  }
  
  #load-more-btn {
    margin-top: vars.$paddingTopMedium;
    width: 100%;
    text-align: center;
  }

  #dropDown-arrow {
    justify-content: center;
    padding-top: vars.$paddingTopMedium;
    width: 3%;
    height: auto;
    color:rgb(201, 191, 191);
    
  }

  //result part

.profilsCards {
  margin-top: 40px;
    &__title {
        text-align: center;
        font-size: 1.5em;
        padding-top:vars.$paddingBottomSmall;
        padding-bottom: vars.$paddingBottomSmall * 2;
    }
}