@use 'src/styles/vars';

#field {
  padding-top: vars.$paddingTopSmall;
  padding-bottom: vars.$paddingBottomSmall;
  width: 300px;
  display: flex;
  justify-content: center;
}

//result part

.profilsCards {
  margin-top: 40px;
  &__title {
    text-align: center;
    font-size: 1.5em;
    padding-top: vars.$paddingBottomSmall;
    padding-bottom: vars.$paddingBottomSmall * 2;
  }
}
