@use 'src/styles/vars';

#contained-button-file {
  display: none;
}

#profil-picture {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

#input-intruments{
  
  width: 100%;
}
#input-intruments input,
#input-styles input {
  margin: 10px;
}

#input-styles{
  
  width: 100%;
}

