.navbar {
  padding: 20px;
  position: relative;
  z-index: 2;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__right {
      & button {
        margin: 15px;
      }
      & .MuiButton-textPrimary {
          color:#fff;
      }
    }
  }
}
