.navbar {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__right {
      & button {
        margin: 15px;
        text-transform: none;
      }
      & .MuiButton-textPrimary {
          color:#fff;
      }
    }
    &__left img {
      max-width: 80px;
    }
  }
  &__content__connected {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left__menu {
      display: inline;
      & li {
        display: inline;
        padding-left: 10px;
        vertical-align: middle;
        color: #fff;
      }
      & #button {
        color: #fff;
        text-transform: none;
      }
    }
    &__right__menu {
      display: inline;
      & li {
        display: inline;
        padding-left: 10px;
        vertical-align: middle;
        color: #fff;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar {
    &__content {
      width: 100%;
      &__right {
        text-align: center;
        & button {
          margin: auto;
          width: auto;
        }
      }
    }
  }
  .makeStyles-navbar-24 {
    justify-content: space-between;
  }
}
