.navbar {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__right {
      & button {
        margin: 15px;
        text-transform: none;
      }
      & .MuiButton-textPrimary {
          color:#fff;
      }
    }
    &__left img {
      max-width: 80px;
    }
  }
  &__content__connected {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left__menu {
      display: inline;
      & li {
        display: inline;
        padding-left: 10px;
        vertical-align: middle;
        color: #fff;
      }
      & #button {
        color: #fff;
        text-transform: none;
      }
    }
    &__right__menu {
      display: inline;
      & li {
        display: inline;
        padding-left: 10px;
        vertical-align: middle;
        color: #fff;
      }
    }
  }
}
